*.log
*.jou
*.str
*.os
*.dir
.Xil/
.srcs/sources_1/ip/*
! .srcs/sources_1/ip/**/*.xci

*.jou
*.log
*.pb
*.dcp
*.rpt
*.bit
*.bin

ArtificialHorizon.cache/
ArtificialHorizon.hw/
ArtificialHorizon.ioplanning/
ArtificialHorizon.ip_user_files/
ArtificialHorizon.runs/
ArtificialHorizon.sim/
